 
 .product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ensures the container takes up the full height of its parent */
}

.product-image {
  width: 400px;  /* Set the desired width */
  height: 300px; /* Set the desired height */
  object-fit: cover; /* Ensures the image covers the entire area */
}
.Prod-img{
  width: auto;
  height: 160px;
  object-fit: cover;
}

 
 

  